/* * {
    --Blue: #8aadf4;
    --Base: #24273a;
} */

* {
    font-family: "0xProto Nerd Font" ;
	font-size: 12px;
    font-weight: bold;
	min-height: 10px;
    border: none;
}

window#waybar {
    background: transparent;
    border: none;
    border-radius: 10px;
}



tooltip {
    font-size: 14px;
    border: #bd93f9 solid 1px;
}


#custom-logo {
    font-size: 17px;
    margin: 2px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 2px;
    color:#bd93f9;
    background: #1A1826;
    border: #8aadf4 solid 2px;
    border-radius: 5px;
}

#custom-logo:hover {
    background: #bd93f9;
    color:#1A1826;
}

#tray {
    margin: 2px;
    border: none;
    border-radius: 0px;
    background: #1A1826;
}

#tray menu {
    margin: 0px;
    border: none;
    /* padding-left: 7px; */
    /* padding-right: 5px; */
    color:#bd93f9;
    background: #1A1826;
}

#workspaces {
    /* margin: 2px; */
    border: none;
    /* padding-left: 7px; */
    /* padding-right: 3px;; */
    color:#bd93f9;
    background: transparent;
}

#workspaces button {
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    border-radius:  5px;
    margin: 0px 5px;
    color:#cbc9cd;
    background: #1A1826
}

#workspaces button.active {
    font-size: 16px;
    border: none;
    border-radius:  5px;
    margin: 0px;
    color:#bd93f9;
    background: #1A1826;
}

#custom-notification {
    font-size: 13px;
    margin: 2px;
    /* border: #bd93f9 solid 2px; */
    padding-left: 10px;
    padding-right: 13px;;
    color:#bd93f9;
    background: #1A1826;
}

#custom-notification:hover {
    font-size: 13px;
    margin: 2px;
    /* border: #bd93f9 solid 2px; */
    padding-left: 10px;
    padding-right: 13px;;
    color:#1A1826;
    background: #bd93f9;
}

/* #network {
    margin-left: 2px;
    margin-top: 0px;
    margin-right: 2px;
    border: #bd93f9 solid 2px;
    padding-left: 7px;
    padding-right: 3px;;
    color:#bd93f9;
    background: #1A1826;
} */

/* #bluetooth {
    margin-left: 2px;
    margin-top: 0px;
    margin-right: 2px;
    border: #bd93f9 solid 2px;
    padding-left: 7px;
    padding-right: 3px;
    color:#bd93f9;
    background: #1A1826;
} */

/* #pulseaudio{
    margin-left: 2px;
    margin-top: 0px;
    margin-right: 2px;
    border: #bd93f9 solid 2px;
    padding-left: 7px;
    padding-right: 3px;
    color:#bd93f9;
    background: #1A1826;
} */

/* #backlight {
    margin-left: 2px;
    margin-top: 0px;
    margin-right: 2px;
    border: #bd93f9 solid 2px;
    padding-left: 7px;
    padding-right: 3px;
    color:#bd93f9;
    background: #1A1826;
} */

#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery {
    margin: 2px;
    /* border: #bd93f9 solid 2px; */
    padding-left: 7px;
    padding-right: 3px;
    color:#bd93f9;
    background: #1A1826;
}

#custom-power {
    margin: 2px ;
    /* margin-right: 0px; */
    /* border: #bd93f9 solid 2px; */
    padding-left: 11px;
    padding-right: 7px;
    color:#bd93f9;
    background: #1A1826;
}

#custom-power:hover {
    margin: 2px;
    /* margin-right: 0px; */
    /* border: #bd93f9 solid 2px; */
    padding-left: 11px;
    padding-right: 7px;
    color:#1A1826;
    background: #bd93f9;
}

#custom-swww {
    margin: 2px 2px;
    background: #1A1826;
    border: #8aadf4 solid 2px;
    border-radius: 5px;
    padding: 0px 0px;
    padding-left: 10px;
    padding-right: 12px;
    font-size: 16px;
    color: #8aadf4;
}

#custom-swww:hover {
    background: #8aadf4;
    color: #1A1826;
}


