* {
    font-family: '0xProto Nerd Font', 'Maple Mono NF CN', monospace;
    font-size: 15px;
}

#waybar {
    background-color: transparent;
    min-height: 25px;
}

#waybar .module {
    background-color: #11111b;
    border-color: #cba6f7;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: #cba6f7;
}

#waybar .module:hover {
    background-color: #cba6f7;
    color: #11111b;
}

#tray menu {
    background-color: #11111b;
    border-color: #cba6f7;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: #cba6f7;
}

#tray menu:hover {
    background-color: #cba6f7;
    color: #11111b;
}

#workspaces button {
    background-color: #11111b;
    border: none;
    color: #cba6f7;
}

#workspaces button:hover {
    background-color: #cba6f7;
    color: #11111b;
}

#workspaces button.active {
    background-color: #cba6f7;
    color: #11111b;
}